body{
    margin: 0;
    padding: 0;
    font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
    background-color: #000000;
    color: #ffffff;
    position: relative;
}

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box !important;
}

/* navbar starts */

nav{
    width: 100%;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

nav .logo{
    width: 125px;
    height: auto;
}

nav .nav-links{
    position: absolute;
    list-style-type: none;
    display: inline-block;
    left:275px;
    top: 38px;
    height: 30px;
}

nav .nav-links li{
    display: inline-block;
    margin: 0 15px;
}

nav .nav-links li a {
    text-decoration: none;
    display: block;
    line-height: 1.4;
    font: 14px/28px DINPro-Bold,Arial,Verdana,sans-serif;
    font-style: normal;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    cursor:pointer;
    transition: opacity .6s linear;
}

nav .nav-links li a::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #ffffff;
    transition: width .3s;
}

nav .nav-links li a:hover::after{
    width: 100%;
    transition: width .3s;
}

/* SideMenu starts */

.menu-btn{
    position: relative;
    height: 16px;
    width: 16px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.menu-btn-handburger{
    width: 100%;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn-handburger::before,
.menu-btn-handburger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    box-shadow: rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn-handburger::before{
    transform: translateY(-4.5px);
}

.menu-btn-handburger::after{
    transform: translateY(4.5px);
}

.menu-btn.open .menu-btn-handburger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn-handburger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-handburger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.sidemenu{
    position: fixed;
    top: 0px;
    right: -300px;
    height: 100%;
    width: 300px;
    padding-top: 80px;
    padding-right: 50px;
    background-color: #000000;
    text-align: right;
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.5s;
}



.sidemenu a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    padding: 1px 0;
    width: 100%;
    font: 16px/40px DINPro-Regular,Arial,Verdana,sans-serif;
    font-weight: 500;
    transition: color 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
    border-bottom: 1pt solid #252525;
    font-style: normal;
    text-transform: uppercase;
    margin-right: 50px;
}

.sidemenu a:hover{
    color: gray;
}

.sidemenu .close-out{
    padding-right: 0px;
}

.sidemenu .closebtn{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-right: 32px;
}
/* SideMenu ends */


/* navbar ends */

/* Hero-Section Starts */
    .hero-section{
        background: url(images/hero.jpg) no-repeat center;
        background-size: 100%;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
/* Hero-Section Ends */

